In [1]:
a= int(input("Enter num1 = "))
b= int(input("Enter num2 = "))
res = a+b;
print("res is -> ",res)

Enter num1 = 4
Enter num2 = 5
res is ->  9

In [ ]:
a= int(input("Enter num1 = "))
b= int(input("Enter num2 = "))
res = a-b;
print("difference is -> ",res)

In [ ]:
a= int(input("Enter num1 = "))
b= int(input("Enter num2 = "))
res = a/b;
print("Division is -> ",res)

In [ ]:
a= int(input("Enter num1 = "))
b= int(input("Enter num2 = "))
res = a%b;
print("Remainder is -> ",res)

In [ ]:
a= int(input("Enter num1 = "))
b= int(input("Enter num2 = "))
res = a//b;
print("floor division is -> ",res)

In [ ]:
Comparison operator

In [ ]:
a= int(input("Enter num1 = "))
b= int(input("Enter num2 = "))
res = a==b;
print("Result is -> ",res)
res = a>=b;
print("Result is -> ",res)
res = a<=b;
print("Result is -> ",res)
res = a<b;
print("Result is -> ",res)
res = a>b;
print("Result is -> ",res)
res = a!=b;
print("Result is -> ",res)

In [ ]:
a = 10
b = 20
a>b
a<b
a>=b
a<=b
a!=b

In [ ]:
a = 10
b = 20
print(a>b)
a<b
a>=b
a<=b
a!=b

In [ ]:
a = 10
b = 20
print(a>b)
a<b
print(a>=b)
a<=b
a!=b

# Logical operator

In [ ]:
and or not

# NOT OPERATOR

In [2]:
not(True)

False

In [3]:
not(False)

True

In [4]:
not(1)

False

In [5]:
not(0)

True

In [12]:
print(not(10))

False

# AND OPERATOR

In [7]:
False and True

False

In [8]:
True and False

False

In [9]:
True and True

True

In [13]:
False and False

False

In [14]:
1 and 1

1

In [15]:
0 and 0

0

In [16]:
1 and 0

0

In [17]:
0 and 1

0

In [18]:
10 and 20

20

In [19]:
20 and 10

10

In [23]:
20 and 10 and 30 and 0 and 15

0

# OR OPERATOR

In [24]:
True or True

True

In [25]:
True or False

True

In [26]:
False or False

False

In [27]:
False or True

True

In [28]:
0 or 1

1

In [29]:
1 or 0

1

In [39]:
1 or 1 or 0

1

In [31]:
0 or 0

0

In [32]:
10 or 20

10

In [33]:
20 or 10

20

In [34]:
10 or 10

10

In [35]:
20 or 20

20

In [36]:
10 or 20 or 10

10

In [37]:
0 or 10 or 0

10

In [38]:
0 or 0 or 10 or 0 or 0

10

# MEMBERSHIP OPERATOR

In [ ]:
in,not in

In [40]:
a = "THIS is pyhton"
'this'in a

False

In [41]:
a = "This is pyhton"
'i'in a

True

In [42]:
a = "This is pyhton"
' 'in a

True

In [43]:
a = "This is pyhton"
'is i'in a

True

In [44]:
a = "This is my python class"
'i'in a

True

In [45]:
a = "This is my python class"
'i m'in a

False

In [46]:
a = "This is my python class"
'this'not in a

True

In [47]:
'ss' not in a

False

# IDENTITY OPERATOR

In [ ]:
is,is not

In [48]:
a = "This is my python class"
'This' is a

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\shubh\AppData\Local\Temp\ipykernel_17212\2399112754.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'This' is a

False

In [49]:
a = "This is my python class"
'This is my python class' is a

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\shubh\AppData\Local\Temp\ipykernel_17212\2742315665.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'This is my python class' is a

False

In [50]:
a = "This"
'This' is a

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\shubh\AppData\Local\Temp\ipykernel_17212\2064979510.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'This' is a

True

In [51]:
a = "This is my python class"
b = "This is my python class"
b is a

False

In [52]:
a = "python"
b = "python"
b is a

True

# Quest 1

In [ ]:
a = int(input("Enter num 1 = "))
b = int(input("Enter num 2 = "))
if(a>b):
    print("num 1 is bigger ")
elif(a==b):
    print("num 1 is equal to num2")
else:
    print("num 2 is bigger")

# Quest 2

In [ ]:
a = int(input("Enter num 1 = "))
b = int(input("Enter num 2 = "))
c = int(input("Enter num 3 = "))
if(a>b and a>c):
    print("num 1 is bigger ")
elif(b>a and b>c):
    print("num 2 is bigger")
elif(c>a and c>a):
    print("num 3 is bigger")
else:
    print("all are same")

# DATA TYPES

In [ ]:
numeric -> int float complex 
sequence -> list tuple set dictionary string
bool -> true or false

In [ ]:
a = 10+5j
print(type(a))

In [ ]:
b = 30 + 6j
res = a + b
print(a+b)

In [ ]:
#code to take imput from user and add the complex number 
#input 1 =5 and input 2 = 14j

x = complex(input("Enter input 1 : "))
y = complex(input("Enter input 2 : "))
res = x+y
print(res)

# Sequence data types

# list

In [ ]:
->mutable
->contains different data types
->enlosed in []
->each element is seperated by ,

In [ ]:
dir(list)

In [53]:
a = [11,33,44,22,55,67]
a[-6]

11

In [54]:
a[33]

IndexError: list index out of range

In [55]:
a = "this is my python class"
a[0]

't'

In [56]:
a[8:10:1]

'my'

In [57]:
a.index("my")

8

In [58]:
a[0:5:2]

'ti '

In [59]:
a= [1,2,3,4,5,6,7]
b= [8,9,10]

a.append(10)
print(a)
a.clear()
print(a)
a=b.copy()
print(a)
print(a.count(8))

[1, 2, 3, 4, 5, 6, 7, 10]
[]
[8, 9, 10]
1

In [67]:
a = [1,2,3,4,5,6,7]
b = [8,9,10]

a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
a = [1,2,3,4,5,6,7]
b = [8,9,10]

print(a.index(3))

2

In [69]:
a = [1,2,3,4,5,6,7]
b = [8,9,10]
a.insert(0,58)
print(a)

[58, 1, 2, 3, 4, 5, 6, 7]

In [70]:
a = [1,2,3,4,5,6,7]
b = [8,9,10]
a.pop(2)
print(a)

[1, 2, 4, 5, 6, 7]

In [71]:
a = [1,2,3,4,5,6,7]
b = [8,9,10]
a.remove(5)
print(a)

[1, 2, 3, 4, 6, 7]

In [72]:
a = [1,2,3,4,5,6,7]
b = [8,9,10]
a.reverse()
print(a)

[7, 6, 5, 4, 3, 2, 1]

In [73]:
a = [1,2,3,4,5,6,7]
b = [8,9,10]
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7]

# Tuple

In [ ]:
-immutable
-enclose in ()
-seperated by , 
-heterogeneous

In [ ]:
dir(tuple)

In [74]:
a = (1,2,3,4,3,3,4)

print(a.count(3))
print(a.index(3))

3
2

In [75]:
#list to tuple 

a=[1,2,3,4]
print(a)
print(type(a))
b = tuple(a)
print(b)
print(type(b))
c= list(b)
print(c)
print(type(c))

[1, 2, 3, 4]
<class 'list'>
(1, 2, 3, 4)
<class 'tuple'>
[1, 2, 3, 4]
<class 'list'>

# String

In [ ]:
- immutable
- enclosed in 'x' or "x" or '''x'''
-

In [ ]:
dir(str)

In [76]:
a = 'this is test string'

a.capitalize()

'This is test string'

In [77]:
a.title()

'This Is Test String'

In [81]:
a.find('is')

2

In [82]:
a.count('i')

3

In [91]:
a = "this is"
b = 'my python class'

print(a+" "+b)
print(' '.join([a,b]))

this is my python class
this is my python class

In [94]:
a = "this is my python class"

b = a.split(" ")
print(b)

c = a.split()
print(c)

print(len(a))

d = a.zfill(26)
print(d)

['this', 'is', 'my', 'python', 'class']
['this', 'is', 'my', 'python', 'class']
23
000this is my python class

# SET

In [ ]:
->enclosed in {}
->it contains unique elements no duplicacy is required
->it is unordered collection of data
->each element seperated by ,
->we can perform mathematical operations on sets

->it is mutable

In [95]:
a = {1,2,3,4,5,6,78,3,2,3,4,3,2,1,82,82,3,3,4}
print(a)

{1, 2, 3, 4, 5, 6, 78, 82}

In [96]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [97]:
a =  {1,2,3,4,5,6,78,3,2,3,4,3,2,1,82,82,3,3,4}

a.add(10)
print(a)

{1, 2, 3, 4, 5, 6, 10, 78, 82}

In [104]:
a={1,2,3,4,5,6}
b= {1,2,7,8,9,10}
c={1,2,3}

print(c)
c=c.clear()
print(c)

c= a.copy()
print(c)

print(a.difference(b))

b.discard(7)
print(b)

print(a.union(b))

print(a.intersection(b))

{1, 2, 3}
None
{1, 2, 3, 4, 5, 6}
{3, 4, 5, 6}
{1, 2, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 8, 9, 10}
{1, 2}

# dictionary

In [ ]:
->it is a c
->item seperated by ,
->each pair called item
->it contain unique keys
->enclosed in {}
->key and value sepearted by :

In [105]:
a = { 1:"Hemant",2:"Priya",3:"Rohit"}

type(a)

dict

In [106]:
a = { 1:"Hemant",2:"Priya",3:"Rohit",1:"Prateek"}
print(a)
type(a)

{1: 'Prateek', 2: 'Priya', 3: 'Rohit'}

dict

In [ ]:
dir(dict)

In [ ]:
print(a.clear())

In [ ]:
a = { 1:"Hemant",2:"Priya",3:"Rohit"}

In [ ]:
b = a.copy()
print(b)

In [107]:
a.items()

dict_items([(1, 'Prateek'), (2, 'Priya'), (3, 'Rohit')])

In [108]:
a.values()

dict_values(['Prateek', 'Priya', 'Rohit'])

In [109]:
a.keys()

dict_keys([1, 2, 3])

In [110]:
a = { 1:"Hemant",2:"Priya",3:"Rohit"}
a.pop(2)
a

{1: 'Hemant', 3: 'Rohit'}

# Questions

In [ ]:
1 wap to find given number is odd or even

2 wap to find number is positive

3 wap to find palindrome number

4 wap to reverse using slicing
a= "this is my python class"

5 wap to reverse using for loop 
a= "this is my python class"

6 wap to find leap year or not
7 wap to print the word which contain's 'o' in the list

In [ ]:
a = 4

if(a%2==0):
    print("number is even")
else:
    print("number is odd")

In [ ]:
a = -55

if(a>=0):
    print("number is positive")
else:
    print("number is negative")

In [ ]:
a = 13431
b = str(a)
rev = b[::-1]

print(a)
print(rev)

if(b == rev):
    print("number is palindrome")
else:
    print("number is not palindrome")

In [ ]:
a = "this is my python class"
b = a[::-1]
print(b)

In [ ]:
a = "this is my python class"
b = ""

for i in a:
    b = i+b
    
print(b)

In [ ]:
a = 1900

if(a%4==0):
    print("leap year")
else:
    print("not leap year")

In [ ]:
a = ["apple","orange","mangoes"]

for i in a:
    i = str(i)
    if(i.find("o")):
        print(i)
    else:
        print("error")