# OOP - Object Oriented Programing

# Question

In [ ]:
#Q1) create a class name bikes in which you have to make 2 functions and pass the class members as 
#  bike name,bike year of manufacturing/model no,price for 5 bikes and print 5 bike name year/model,price

In [17]:
class bikes:
    def __init__(self,name,model,price):
        self.name = name
        self.model = model 
        self.price = price
    def display(self):
        print(self.name,self.model,self.price)   
a1 = bikes("tvs raider","125","91,000")
a1.display()
a2 = bikes("royal enfield hunter","350","1,49,900")
a2.display()
a3 = bikes("harley davidson","X440","2,29,000")
a3.display()
a4 = bikes("honda sp","125","86,000")
a4.display()
a5 = bikes("Apache RTR","160","1,19,000")
a5.display()

tvs raider 125 91,000
royal enfield hunter 350 1,49,900
harley davidson X440 2,29,000
honda sp 125 86,000
Apache RTR 160 1,19,000

In [ ]:
#wap to display the marks of maths of five students with their names using oops concepts

In [21]:
class student:
    def __init__ (self,marks):
        self.marks = marks
    def display(self):
        print(self.marks)

s1 = student("80")
s2 = student("70")
s3 = student("85")
s4 = student("95")
s5 = student("88")
print(max(s1.marks,s2.marks,s3.marks,s4.marks,s5.marks))

95

# Question

In [ ]:
#Q1 wap to display the name and city of three student using single level inheritance.

In [24]:
class student:
    def __init__(self,stu_name,stu_city):
        self.stu_name = stu_name
        self.stu_city = stu_city
class show(student):
    def display(self):
        print(self.stu_name,self.stu_city)

s1 = show("ajay","delhi")
s1.display()
s1 = show("Raj","kolkata")
s1.display()
s1 = show("aman","delhi")
s1.display()

ajay delhi

# Multi level

In [8]:
class Parent:
    def __init__(self):
        self.name = "rohan"
class child(Parent):
    def __init__(self):
        Parent.__init__(self)
        self.age = 40
class child2(child):
    def __init__(self):
        child.__init__(self)
        self.prof = "Banker"
    def display(self):
        print(self.name,self.age,self.prof)
obj1 = child2()
obj1.display()

rohan 40 Banker

In [ ]:
#wap using multi level inheritance for 3 product detail
#product name
#product weight
#product price
#product quantity

In [55]:
class p_name:
    def __init__(self):
        self.p_name = ""
        
class p_weight(p_name):
    def __init__(self):
        p_name.__init__(self)
        self.p_weight = ""
        -
class p_price(p_weight):
    def __init__(self):
        p_weight.__init__(self)
        self.p_price = ""
        
class p_quantity(p_price):
    def __init__(self):
        p_price.__init__(self)
        self.p_quant = ""
        
    def val(self,name,weight,price,quant):
        self.p_name = name
        self.p_weight = weight
        self.p_price = price
        self.p_quant = quant
        
    def display(self):
        print(self.p_name,self.p_weight,self.p_price,self.p_quant)
        
p1 = p_quantity()
p1.val("milk","1 kg","100","45")
p1.display()
p1 = p_quantity()
p1.val("bread","3 kg","300","35")
p1.display()
p1 = p_quantity()
p1.val("eggs","5 kg","900","50")
p1.display()

milk 1 kg 100 45
bread 3 kg 300 35
eggs 5 kg 900 50

# Multiple inheritance

In [11]:
class parent1:
    def __init__(self):
        self.name = "Aman"
class parent2:
    def __init__(self):
        self.age = 40
class child(parent1,parent2):
    def __init__(self):
        parent1.__init__(self)
        parent2.__init__(self)
        self.prof = "IT"
    def display(self):
        print(self.name,self.age,self.prof)
        
obj1 = child()
obj1.display()

Aman 40 IT

In [4]:
# wap using multiple inheritance in which you have to print 
#patient name
#patient age
#patient disease
#patient fees

In [73]:
class p_name:
    def __init__(self):
        self.p_name = " "
        
class p_age:
    def __init__(self):
        p_name.__init__(self)
        
class p_disease:
    def __init__(self):
        p_age.__init__(self)
        
class p_fees:
    def __init__(self):
        p_disease.__init__(self)

class patient(p_name,p_age,p_disease,p_fees):
    def __init__(self):
        self.p_name = ""
        self.p_age = ""
        self.p_disease = ""
        self.p_fees = ""
        
    def val(self,name,age,disease,fees):
        self.p_name = name
        self.p_age = age
        self.p_disease = disease
        self.p_fees = fees
        
    def display(self):
        print(self.p_name,self.p_age,self.p_disease,self.p_fees)
        
p1 = patient()
p1.val("aman","19","fever","3000")
p1.display()

aman 19 fever 3000

# Hierarchial inheritance

In [68]:
class parent:
    def __init__(self):
        self.name = "john"
        self.age = 25
        self.prof = "IT"
class child1(parent):
    def __init__(self):
        self.city = "london"
        parent.__init__(self)
    def display(self):
        print(self.name,self.age,self.prof,self.city)
class child2(parent):
    def __init__(self):
        self.country = "UK"
        parent.__init__(self)
        
    def display(self):
        print(self.name,self.age,self.prof,self.country)
c1 = child1()
c2 = child2()
c1.display()
c2.display()

john 25 IT london
john 25 IT UK

In [ ]:
# wap using hierarchial inheritance and display
# parent class - company name,company location,countof employees in the company,
#your name 
#your designation

In [9]:
class company_name:
    def __init__(self):
        self.c_name = "goole"
    
class company_location:
    def __init__(self):
        self.c_loc = "UK"

class count_of_employees:
    def __init__(self):
        self.c_totalemp = 800

    def display(self):
        print(self.c_name,self.c_loc,self.c_totalemp)
        
class name(company_name,company_location,count_of_employees):
    def __init__(self):
        company_name.__init__(self)
        company_location.__init__(self)
        count_of_employees.__init__(self)
        self.your_name = "sj"
        
    def display(self):
        print(self.c_name,self.c_loc,self.c_totalemp,self.your_name)
        
class designation(company_name,company_location,count_of_employees):
    def __init__(self):
        company_name.__init__(self)
        company_location.__init__(self)
        count_of_employees.__init__(self)
        self.your_designation = "employee"      

    def display(self):
        print(self.c_name,self.c_loc,self.c_totalemp,self.your_designation)

obj1 = name()
obj1.display()
obj2 = designation()
obj2.display()

goole UK 800 sj
goole UK 800 employee

# Module

In [2]:
from Module import add
add(6,10)

16

In [3]:
import Module as m 
m.floor_div(8,2)

4

In [4]:
from Module import sub,mult,div

print(sub(3,2))
print(mult(5,0))
print(div(8,2))

1
0
4.0

In [ ]:
# Q13) create a list of the first 50 even natural numbers and perform the folllowing
#a) count the number of elements in a list
#b) reverse the sequence of list
#c) sort the list in ascending and descending order 
#d) get the index value for the element 44 
#e) update the element with the number 100

In [73]:
l1 = []
for i in range(2,101,2):
    l1 += [i]
    
#length
print("Length of list is ->" ,len(l1))
print()

#reverse
l1.reverse()
print("reversed list is ->" ,l1)
print()


#sort ascending
l1.sort()
print("ascending sorted list is ->" ,l1)
print()

#sort descending
l1.sort(reverse = True)
print("Descending sorted list is ->" ,l1)
print()

#index of 44
print("Index of element 44 is ->",l1.index(44))
print()


# update element number 100
l1.sort()
index = l1.index(100)
l1[index] = 999
print("List after updating element 100 with 999 -> ",l1)
print()

Length of list is -> 50

reversed list is -> [100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

ascending sorted list is -> [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

Descending sorted list is -> [100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

Index of element 44 is -> 28

List after updating element 100 with 999 ->  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 999]

In [ ]:
#for the given string 
#a = "Python Programming Language"
#b = "Best in the World"

#perform the following operations
#a) using indexing get the text "gram" from string a
#b) using indexing get the text "World" from string b
#c)change the letter in both sting to uppercase
#d)concatenate the two string

In [47]:
a = "Python Programming Language"
b = "Best in the World"

txt1 = "gram"
txt2 = "World"
index1 = a.index("gram")
index2 = b.index("World")

print( a[index1:(index1+len(txt1)):1] )

print( b[index2:(index2+len(txt2)):1] )

print(a.upper())
print(b.upper())

print(a+b)

gram
World
PYTHON PROGRAMMING LANGUAGE
BEST IN THE WORLD
Python Programming LanguageBest in the World

In [ ]:
#problem statement

#you work in a XYZ corporation as a Data Analyst.Your corporation has told you to work on fuction and classes
#create function named "factor" that can only accept one argument
#the function should return the factorial of that number

In [41]:
def factor(a):
    fact = 1
    for i in range(1,a):
        fact += fact * i
    return fact
factor(4)

24

# Abstraction